body {
  background-color: rgb(211, 211, 101);
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
}

.centerRow {
  height: 55vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.content {
  height: 100%;
  align-items: center;
}

.contentBorder {
  border: 10px solid darkblue;
  background-color: cadetblue;
}

.msgBox {
  text-align: center;
  padding: 1rem;
}

.basic-letter,
#msg {
  text-transform: uppercase;
  font-weight: 600;
}

#letters-box {
  display: flex;
}

.basic-letter {
  font-size: 30vh;
}

#msg {
  font-size: 10vw;
}

.verified {
  color: white;
}

.wrong {
  color: red;
}

.right {
  color: lime;
}
